export/XMLIO/Tiles/MapTiles.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mapTiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="mapTile">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedInt" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="defaultAnimation" type="xs:int" />
              <xs:element name="rotation" type="xs:float"/>
              <xs:element name="textureAnimations">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="textureIndex" type="xs:unsignedInt" />
                    <xs:element name="terrainIndex" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>