export/XMLIO/Maps/MapObjectList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="maps">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="map">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:integer" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="terrainTypeList" type="xs:string" />
              <xs:element name="generalTextureList" type="xs:string" />
              <xs:element name="detailedTextureList" type="xs:string" />
              <xs:element name="generalTileList" type="xs:string" />
              <xs:element name="detailedTileList" type="xs:string" />
              <xs:element name="tileLayers" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>