export/XMLIO/Animation/TextureAnimations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="textureAnimations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="textureAnimation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedInt"  />
              <xs:element name="name" type="xs:string" />
              <xs:element name="GeneralTextureID" type="xs:unsignedInt" />
              <xs:element name="noFrames" type="xs:int" />
              <xs:element name="noLoops" type="xs:int"/>
              <xs:element name="animation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="x" type="xs:unsignedInt" />
                          <xs:element name="y" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>