export/XMLIO/Textures/GeneralTextures.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="textures">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="texture">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:integer" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="path" type="xs:string" />
              <xs:element name="noColumns" type="xs:integer" />
              <xs:element name="noRows" type="xs:integer" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>